$fontRoboto: "Roboto", sans-serif;
$fontPoppins: "Poppins", sans-serif;

$gray100: #f2f6fc;
$gray900: #141a29;
$black: #17181f;
$yellow: #ffb800;
$red: #ff3636;
$green300: #04dd75;
$gray600: #05ba63;
$inputBackground: #20212c;
